:root {
  --accent-color: orange;
  --link-color: orange;
  --text-color: #3a3a3a;
  --background-color: #fafafa;

  --space-1: var(--spacing-base);
  --space-2: calc(var(--space-1) * 2);
}

main {
  background-color: var(--text-color);
  color: var(--background-color);
  min-height: 100vh;
}

.page > header,
aside,
main {
  padding-inline: var(--space-2);
  padding-block: var(--space-1);
}
footer {
  opacity: 1;
  padding-bottom: var(--space-1);
  margin: 0;
}

.page {
  width: 100%;
}
.page > header {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "photo"
    "heading"
    "contact"
    "description";
  gap: var(--space-2);
  justify-content: left;
}

.page > header h1 {
  grid-area: heading;
  text-transform: uppercase;
}

h1 small {
  display: block;
  font-size: var(--font-size-base);
}

.page > header i {
  margin-right: var(--space-1);
}

#contact {
  grid-area: contact;
}
#description {
  grid-area: description;
}

picture {
  width: 180px;
  height: 180px;
  max-width: 90vw;
  max-height: 80vh;
  grid-area: photo;
}

picture img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  border: var(--border-radius-base) solid var(--accent-color);
  border-radius: var(--border-radius-base);
  padding: var(--space-1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
  .page {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header main"
      "aside main"
      "aside footer";
  }
  .page > header {
    align-items: center;
    justify-content: left;
    grid-template-areas:
      "photo heading"
      "contact contact"
      "description description";
  }
}
@media print {
  .page {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "header main"
      "aside main"
      "aside footer";
  }
  .page > header {
    justify-content: left;
    grid-template-areas:
      "photo heading"
      "photo contact"
      "description description";
  }
}
