:root {
  --aside-width: 400px;
  --aside-right: 100vw;
  --border-color: mistyrose;
  --text-color: #533b4d;
  --text-color-muted: #c1aba6;
  --link-color: #070607;
  --bg-color: white;
  --image-size: 200px;
  --space-1: 20px;
  --space-2: 30px;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 300;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited,
a:link,
a:active,
a:hover {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

ul,
ol,
li,
li:before,
li:after {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

h1,
h2 {
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: var(--space-1);
  margin-bottom: var(--space-1);
  border-bottom: 2px solid var(--text-color-muted);
}

h1,
h2 {
  padding-top: var(--space-2);
}

h3,
strong,
b,
.caption {
  font-weight: normal;
}

.caption li {
  display: inline;
}

a {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1);
}

a i {
  order: 0;
}
a span {
  order: 1;
}

.desktop {
  min-height: 100vh;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  padding: var(--space-2);
}
.desktop::before {
  content: "";
  position: fixed; /* important: covers all viewport */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: seashell;
  z-index: 0;
}

.cv {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

aside,
main {
  background: var(--bg-color);
  margin-inline: 0;
  padding-inline: 0;
  padding-block: var(--space-2);
}
main {
  width: 100%;
}

header,
section {
  width: 100%;
  padding-inline: var(--space-2);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 8px solid var(--border-color);
}

header {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
}
aside > header {
  display: block;
}

main > header {
  display: none;
}

.life-events time,
.life-events span {
  padding-right: var(--space-1);
}

@media (min-width: 600px) {
  aside > header {
    display: none;
  }
  main > header {
    display: block;
  }
  .desktop::before {
    width: var(--aside-right);
  }
  .cv {
    display: flex;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  aside,
  main {
    padding-top: 90px;
  }
  section {
    padding-inline: 0;
  }
  main section {
    padding-left: var(--space-2);
  }
  aside {
    height: 100%;
    max-width: var(--aside-width);
    width: var(--aside-width);
    border-bottom: 16px solid var(--border-color);
    padding-inline: 0;
    text-align: right;
  }
  main {
    border-bottom: 16px solid var(--text-color-muted);
    padding-inline: 30px 0;
  }
  header {
    height: var(--image-size);
    padding-right: 0;
    margin-bottom: 3px; /* hack */
  }
  img {
    width: var(--image-size);
    height: var(--image-size);
  }
  article {
    padding-right: calc(var(--space-2) * 2);
  }
  a i {
    order: 1;
  }
  a span {
    order: 0;
  }
  h1 {
    padding-top: 0;
  }
  aside ul {
    padding-left: var(--space-1);
  }
}
