html,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  padding: 30px;
  font-family: "Special Elite", "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: whitesmoke;
}

main > article {
  width: 800px;
  padding: 40px 50px;
  margin: 0 auto;
}

h2,
h3 {
  margin-block: 30px 5px;
}

.paper {
  background:
    /* mycket svag textur */
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.015) 0px,
      rgba(0, 0, 0, 0.015) 1px,
      transparent 3px,
      transparent 6px
    ),
    /* ljusare papperston */ #faf9f6;

  border: 1px solid #e2dfd8;
  border-radius: 4px;

  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 6px 14px rgba(0, 0, 0, 0.08);

  line-height: 1.6;
}
